<section id="content">
	<div class="container">
	    <div class="block-header">
	        <h2>Edytuj publikację</h2>
	    </div>

		<div data-ng-controller="ArticleController as actrl">
	    	<form name="EditArticle" novalidate ng-submit="EditArticle.$valid ? actrl.updateArticle() : ''" autocomplete="off">
	       		<div class="card" nv-file-drop uploader="actrl.uploader" ng-init="actrl.getArticle()">
					<div class="card-header">
		       		    <div class="media">
		       		        <div class="pull-left">
		       		            <img class="lv-img" src="img/profile-pics/1.jpg" alt="">
		       		        </div>					        
		       		        <div class="media-body m-t-5">
		       		            <h2>
		       		        		<div class="form-group fg-float m-b-30 has-feedback"  ng-class="{'has-error': EditArticle.title.$invalid && EditArticle.$submitted}">
	    					   			<div class="fg-line">
	    					   		        <input type="text" name="title" id="title" class="input-sm form-control fg-input" ng-model="actrl.article.title" required>
	    					   		        <label class="fg-label" ng-show="!actrl.article.title">Tytuł</label>
	    					   		    </div>
	    					   		    <small class="help-block" for="title" ng-show="EditArticle.title.$error.required && EditArticle.$submitted">Title required</small>
	    					   		</div>
									<small>Posted on {{actrl.article.createdAt | date : 'yyyy/MM/dd  H:m'}}</small>
		       		            </h2>
		       		        </div>
		       		    </div>
		       		</div>

		       		<div class="card-body card-padding">
						<div class="row">
							<div class="col-xs-12 col-sm-4 col-md-3">
								<div class="fileinput fileinput-new" data-provides="fileinput">
								    <div class="fileinput-preview thumbnail" data-trigger="fileinput">
								    	<img src="{{actrl.article.featured}}" alt="">

								    </div>
								    <div>
								        <span class="btn btn-info btn-file">
								            <span class="fileinput-new">Select image</span>
								            <span class="fileinput-exists">Change</span>
								            <input type="file" name="..." nv-file-select uploader="actrl.uploader">
								        </span>
								        <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
								    </div>
								</div>
							</div>
				   			<div class="col-xs-12 col-sm-8 col-md-9">
				   				<div class="form-group fg-float m-b-30 has-feedback"  ng-class="{'has-error': EditArticle.excerpt.$invalid && EditArticle.$submitted}">
			   					    <div class="fg-line">
			   					        <textarea name="excerpt" id="excerpt" class="form-control" data-auto-size placeholder="Excerpt" ng-model="actrl.article.excerpt" required></textarea>
			   						    <small class="help-block" for="excerpt" ng-show="EditArticle.excerpt.$error.required && EditArticle.$submitted">Excerpt required</small>
			   					    </div>			   					
				   				</div>
				   			</div>
			   			</div>
					</div>					                
				</div>

                <div id="widgets">
                    <div ng-repeat="widget in actrl.article.widgets" ng-switch="widget.type" >
                        <div ng-switch-when="note">
                            <note-widget  widget="widget" />
                        </div>
                        <div ng-switch-when="slider">
                            <slider-widget widget="widget"  /> 
                        </div>                                                       
                        <div ng-switch-when="gallery">
                            <gallery-widget widget="widget"  /> 
                        </div>                                                       
                    </div>
                </div>


                <div class="card">
                    <ul class="list-unstyled clearfix wpb-actions">
                        <li class="wpba-attrs">
                            <ul class="list-unstyled list-inline m-l-0 m-t-5">
                            	<li>
                                    <a href="" ng-click="actrl.addWidget('note')" >
                                        <i class="zmdi zmdi-font" uib-tooltip="notatka"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="" ng-click="actrl.addWidget('slider')" >
                                        <i class="zmdi zmdi-image" uib-tooltip="slider"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="" ng-click="actrl.addWidget('gallery')" >
                                        <i class="zmdi zmdi-apps" uib-tooltip="galeria"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-wpba="image" href="" data-ng-class="{ 'active': mactrl.wallImage }" data-ng-click="mactrl.wallImage = true; mactrl.wallVideo = false; mactrl.wallLink = false">
                                        <i class="zmdi zmdi-image"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-wpba="video" href="" data-ng-class="{ 'active': mactrl.wallVideo }" data-ng-click="mactrl.wallVideo= true; mactrl.wallImage = false; mactrl.wallLink = false">
                                        <i class="zmdi zmdi-play-circle"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-wpba="link" href="" data-ng-class="{ 'active': mactrl.wallLink }" data-ng-click="mactrl.wallLink = true; mactrl.wallImage = false; mactrl.wallVideo = false">
                                        <i class="zmdi zmdi-link"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="pull-right">
                            <button class="btn btn-primary btn-sm">Post</button>
                        </li>
                    </ul>
                </div>

			</form>
	    </div>

	</div>
</section>