<section id="content">
	<div class="container" data-ng-controller="ArticleController as Actrl" data-ng-init="Actrl.getArticles()">
	    <div class="block-header">
	        <h2>Publikacje</h2>
	    </div>

	    <div class="card">
	        <div class="listview lv-bordered lv-lg">
	            <div class="lv-header-alt clearfix">
	                <h2 class="lvh-label hidden-xs">Some text here</h2>

	                <div class="lvh-search" data-ng-if="mactrl.listviewSearchStat" data-ng-click="mactrl.listviewSearchStat">
	                    <input type="text" placeholder="Start typing..." class="lvhs-input">

	                    <i class="lvh-search-close" data-ng-click="mactrl.listviewSearchStat = false">&times;</i>
	                </div>

	                <ul class="lv-actions actions">
	                    <li>
	                        <a href="" data-ng-click="mactrl.listviewSearchStat = true">
	                            <i class="zmdi zmdi-search"></i>
	                        </a>
	                    </li>
	                    <li>
	                        <a href="">
	                            <i class="zmdi zmdi-time"></i>
	                        </a>
	                    </li>
	                    <li class="dropdown" uib-dropdown>
	                        <a href="" uib-dropdown-toggle aria-expanded="true">
	                            <i class="zmdi zmdi-sort"></i>
	                        </a>

	                        <ul class="dropdown-menu dropdown-menu-right">
	                            <li>
	                                <a href="">Last Modified</a>
	                            </li>
	                            <li>
	                                <a href="">Last Edited</a>
	                            </li>
	                            <li>
	                                <a href="">Name</a>
	                            </li>
	                            <li>
	                                <a href="">Date</a>
	                            </li>
	                        </ul>
	                    </li>
	                    <li>
	                        <a href="">
	                            <i class="zmdi zmdi-info"></i>
	                        </a>
	                    </li>
	                    <li class="dropdown" uib-dropdown>
	                        <a href="" uib-dropdown-toggle aria-expanded="true">
	                            <i class="zmdi zmdi-more-vert"></i>
	                        </a>

	                        <ul class="dropdown-menu dropdown-menu-right">
	                            <li>
	                                <a href="">Refresh</a>
	                            </li>
	                            <li>
	                                <a href="">Listview Settings</a>
	                            </li>
	                        </ul>
	                    </li>
	                </ul>
	            </div>

	            <div class="lv-body">
	            	<div data-ng-repeat="article in Actrl.articles | orderBy:'-createdAt'" class="lv-item media">
	            	    <div class="checkbox pull-left">
	            	        <label>
	            	            <input type="checkbox" value="">
	            	            <i class="input-helper"></i>
	            	        </label>
	            	    </div>
	            	    <div class="pull-left">
	            	        <img class="lv-img-sm" src="img/profile-pics/2.jpg" alt="">
	            	    </div>
	            	    <div class="media-body">
	            	        <div class="lv-title">{{article.title}}</div>
	            	        <small class="lv-small">{{article.excerpt}}</small>

	            	        <ul class="lv-attrs">
	            	            <li>Date Created: {{article.createdAt | date : 'yyyy/MM/dd H:m'}}</li>
	            	            <li>Members: 78954</li>
	            	            <li>Published: No</li>
	            	        </ul>

	            	        <div class="lv-actions actions dropdown" uib-dropdown>
	            	            <a href="" uib-dropdown-toggle aria-expanded="true">
	            	                <i class="zmdi zmdi-more-vert"></i>
	            	            </a>

	            	            <ul class="dropdown-menu dropdown-menu-right">
	            	                <li>
	            	                    <a data-ui-sref="articles.edit({ id: article.id })">Edit</a>
	            	                </li>
	            	                <li>
	            	                    <a ng-click="Actrl.removeArticle(article)" href="">Delete</a>
	            	                </li>
	            	            </ul>
	            	        </div>
	            	    </div>
	            	</div>
	            	
	            </div>
	        </div>
	        
	        <div class="lv-pagination">
	            <uib-pagination 
		            max-size="5"
		            ng-change="Actrl.setPage(Actrl.currentPage)"
		            items-per-page="Actrl.perPage"
	            	boundary-links="true" 
	            	total-items="Actrl.totalItems" 
	            	ng-model="Actrl.currentPage" 
	            	class="pagination-sm" 
	            	previous-text="<div>dsd</div>" 
	            	next-text="&rsaquo;" 
	            	first-text="&laquo;" 
	            	last-text="&raquo;">
            	</uib-pagination>
	        </div>
	    </div>

	</div>
</section>