<div class="card-header">
	<div class="media">
	    <div class="pull-left">
	        <img class="lv-img" src="img/profile-pics/1.jpg" alt="">
	    </div>                        
	    <div class="media-body m-t-5">
	        <h2>{{article.title}} 
	        	<small>Posted on {{article.createdAt | date : 'yyyy/MM/dd  H:m'}}</small>
	        </h2>
	    </div>
	</div>
</div>
                
<div class="card-body card-padding">
    <p>{{article.excerpt}}</p>                    
    <div class="wall-img-preview lightbox clearfix" ng-show="article.featured">
        <div class="wip-item" data-src="{{article.featured}}" style="background-image: url({{article.featured}});">
            <div class="lightbox-item"></div>
        </div>
    </div>                    
    <ul class="wall-attrs clearfix list-inline list-unstyled">
        <li class="wa-stats">
            <span><i class="zmdi zmdi-comments"></i> 36</span>
            <span class="active"><i class="zmdi zmdi-favorite"></i> 10</span>
            <span class="active"><i class="zmdi zmdi-thumb-up"></i> 117</span>
        </li>                        
        <li class="wa-users">
            <a href=""><img src="img/profile-pics/1.jpg" alt=""></a>
            <a href=""><img src="img/profile-pics/2.jpg" alt=""></a>
            <a href=""><img src="img/profile-pics/3.jpg" alt=""></a>
            <a href=""><img src="img/profile-pics/5.jpg" alt=""></a>
        </li>
    </ul>    
</div>



<div ng-repeat="widget in article.widgets" ng-switch="widget.type" >
    <div ng-switch-when="note">
        <div class="card-body card-padding" ng-bind-html="widget.content.body | unsafe"></div>
    </div>
    <div ng-switch-when="slider">
        <div class="card-body card-padding">
            <uib-carousel interval="myInterval">
                <uib-slide ng-repeat="w in widget.content.slides" active="slide.active">
                    <img ng-src="{{w.src}}">
                    <div class="carousel-caption" data-ng-if="w.label.length > 0">
                        <h3>{{w.label}}</h3>
                        <p>{{w.text}}</p>
                    </div>
                </uib-slide>
            </uib-carousel>
        </div>                                                       
    </div>  
    <div ng-switch-when="gallery">
        <div class="card-body card-padding">
            
            <p class="f-500 c-black m-b-20">Galeria</p>

            <div class="card-body card-padding wall-img-preview clearfix">
                <div lightgallery ng-repeat="item in widget.content.items" class="wip-item" data-src="{{trustSrc(item.src)}}" style="background-image: url({{item.src}});" data-sub-html="<em><h3>{{item.label}}</h3><p>Here goes the description...</p></em>">
                    <img ng-src="{{item.src}}" alt="">
                </div>                
            </div>

        </div>                                                       
    </div>                                                       
                                                     
</div>

<div class="wall-comment-list">
    
    <!-- Comment Listing -->
    <div class="wcl-list">
        <div class="media">
            <a href="" class="pull-left">
                <img src="img/profile-pics/5.jpg" alt="" class="lv-img-sm">
            </a>
            
            <div class="pull-right p-0">
                <ul class="actions">
                    <li class="dropdown" uib-dropdown>
                        <a href="" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>
        
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Report</a>
                            </li>
                            <li>
                                <a href="">Delete</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            
            <div class="media-body">
                <a href="" class="a-title">David Nathan</a> <small class="c-gray m-l-10">3 mins ago...</small>
                <p class="m-t-5 m-b-0">Maecenas dignissim in neque id commodo. Nam pretium a tortor a convallis. Curabitur in arcu quis nulla aliquam condimentum. Morbi eu cursus diam, vitae tristique dui.</p>
            </div>
        </div>
        
        <div class="media">
            <a href="" class="pull-left">
                <img src="img/profile-pics/4.jpg" alt="" class="lv-img-sm">
            </a>

            <div class="media-body">
                <a href="" class="a-title">Sam Anderson</a> <small class="c-gray m-l-10">3 mins ago...</small>
                <p class="m-t-5 m-b-0">Curabitur in arcu quis nulla aliquam condimentum.</p>
            </div>
            
            <ul class="actions">
                <li class="dropdown" uib-dropdown>
                    <a href="" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>
    
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="">Report</a>
                        </li>
                        <li>
                            <a href="">Delete</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    
    <!-- Comment form -->
    <div class="wcl-form">
        <div class="wc-comment" data-ng-if="!mactrl.wallCommenting[1]" data-ng-click="mactrl.wallCommenting[1] = true">
            <div class="wcc-inner">
                Write Something...
            </div>
        </div>
        
        <div class="wc-comment" data-ng-if="mactrl.wallCommenting[1]">
            <div class="wcc-inner">
                <textarea class="wcci-text" data-auto-size placeholder="Write Something..."></textarea>
            </div>
            
            <div class="m-t-15">
                <button class="btn btn-sm btn-primary">Post</button>
                <button class="btn btn-sm btn-link" data-ng-click="mactrl.wallCommenting[1] = false">Cancel</button>
            </div>
        </div>
    </div>
</div>