<section id="content">
<div class="container c-alt">
    
    <div class="row">
        <div class="col-md-8"  data-ng-controller="ArticleController as actrl" data-ng-init="actrl.getWallArticles()">
            
            <div class="card" data-ng-repeat="article in actrl.wallArticles | orderBy:'-createdAt'">
                <div data-ng-include="'views/articles/wall-article.html'"></div>
            </div>

			<div infinite-scroll="actrl.scrollPagin()" infinite-scroll-distance="1"  infinite-scroll-disabled="actrl.infiniteScrollDisabled">
				<div class="card" data-ng-repeat="article in actrl.infiniteArticles | orderBy:'-createdAt'">
				    <div data-ng-include="'views/articles/wall-article.html'"></div>
				</div>
			</div>

         </div>
        
        <div class="col-md-4 hidden-sm" >
            <div class="card">
                <div class="card-header">
                    <h2>About me</h2>
                </div>
                
                <div class="card-body card-padding">
                    Maecenas malesuada. Nam adipiscing. Etiam vitae tortor. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem. <a data-ui-sref="pages.profile.profile-about"><small>Read more...</small></a>
                </div>
            </div>
            
            <div  class="card" data-ng-controller="recentpostCtrl as rpctrl">
                <div class="card-header">
                    <h2>Recent Comments <small>Commodo vel pharetra nisi. Donec velit libero</small></h2>
                </div>
                <div class="listview">
                    <div class="lv-body">
    
                        <a class="lv-item" href="" data-ng-repeat="w in rpctrl.rpResult.list">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="lv-img-sm" data-ng-src="img/profile-pics/{{ w.img }}" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="lv-title">{{ w.user }}</div>
                                    <small class="lv-small">{{ w.text }}</small>
                                </div>
                            </div>
                        </a>
    
                    </div>
                    
                    <div class="clearfix"></div>
                    
                    <a class="lv-footer" href="">View All</a>
                </div>
            </div>
            
        </div>
    </div>
</div>
</div>

