<div class="card" >
	<div class="card-body card-padding">
		<div class="row">
	        <div class="col-xs-12 col-sm-4 col-md-3">
	        	<fieldset  data-ng-repeat="item in widget.content.items">
          	      <input type="text" ng-model="item.label" name="" placeholder="Enter label">
        	      <input type="text" ng-model="item.src" name="" placeholder="Enter src">
        	      <a href="" class="remove btn btn-danger"  ng-hide="$first" ng-click="removeItem(item)" >-</a>
        	   </fieldset>
        	   <a href="" ng-click="addNewItem()" class="btn btn-info">Add Item</a>
	        </div>
	        
		</div>     	
		<button ng-click="Delete(widget)" class="btn btn-danger">X</button>		
	</div>
</div>
