<div class="card">
	<div class="card-body card-padding">
		<summernote ng-model="widget.content.body"></summernote>
		<button ng-click="Delete(widget)" class="btn btn-danger">X</button>		
	</div>
</div>