<div class="card" >
	<div class="card-body card-padding">
		<div class="row">
	        <div class="col-xs-12 col-sm-4 col-md-3">
	        	<fieldset  data-ng-repeat="slide in widget.content.slides">
          	      <input type="text" ng-model="slide.label" name="" placeholder="Enter labelr">
        	      <input type="text" ng-model="slide.src" name="" placeholder="Enter src">
        	      <a href="" class="remove btn btn-danger"  ng-hide="$first" ng-click="removeSlide(slide)" >-</a>
        	   </fieldset>
        	   <a href="" ng-click="addNewSlide()" class="btn btn-info">Add Slide</a>
	        </div>
	        
		</div>     	
		<button ng-click="Delete(widget)" class="btn btn-danger">X</button>		
	</div>
</div>
