

.Dashboard {
  background: #fff;
  border:1px solid #d4d2d0;
  border-radius: 4px;
  max-width:52em;
  padding:1.5em;
}

.Dashboard-header {
  border-bottom:1px solid #d4d2d0;
}

.Dashboard-footer,.Dashboard-header{margin:-1.5em -1.5em 1.5em;padding:1.5em;}

.Dashboard-footer {
  border-top:1px solid #d4d2d0;
}

.Dashboard--full {
  max-width: 100%;
}

.Dashboard--collapseBottom {
  padding-bottom: 0;
}

@media (min-width: 1024px) {.Dashboard,.Dashboard-header{padding:2em;}.Dashboard-footer,.Dashboard-header{margin:-2em -2em 2em;}
  .Dashboard-footer {
    padding:1.5em;
  }

  .Dashboard--collapseBottom {
    padding-bottom:0.5em;
  }
}
/*
Copyright 2016 Google Inc. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/


.DataTable .gapi-analytics-data-chart {
  overflow-x: auto;
}

.DataTable .gapi-analytics-data-chart .gapi-analytics-data-chart-styles-table-tr-head {
  background: hsl(30,10%,96.7%);
}

.DataTable .gapi-analytics-data-chart .gapi-analytics-data-chart-styles-table-th {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  white-space: nowrap;
}

.DataTable .gapi-analytics-data-chart .gapi-analytics-data-chart-styles-table-th:first-child {
  border-left: 1px solid #ddd;
}

.DataTable .gapi-analytics-data-chart .gapi-analytics-data-chart-styles-table-th:last-child {
  border-right: 1px solid #ddd;
}
/*
Copyright 2014 Google Inc. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

/**
 * DateRangeSelector Component
 */

.DateRangeSelector {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 0 -1em -1em;
}

.DateRangeSelector-item {
  margin: 0 0 1em 1em;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 -webkit-calc(100% - 1em);
      -ms-flex: 1 0 calc(100% - 1em);
          flex: 1 0 calc(100% - 1em);
}

.DateRangeSelector-item > label {
  font-weight: 700;
  margin: 0 .25em .25em 0;
  display: block;
}

.DateRangeSelector-item > input {
  width: 100%;
}

@media (min-width: 570px) {
  .DateRangeSelector-item {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    min-width:150px;
  }
}
/*
Copyright 2015 Google Inc. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/


.Error {
  background: hsl(0,100%,98%);
  border: 1px solid hsla(0, 70%, 55%, .5);
  border-radius: 4px;
  color: hsla(0, 0%, 0%, 0.5);
  margin: 2em 0px;
  padding: 1em 1.5em;
}

.Error-title {
  color: hsl(0,70%,55%);
  display: inline-block;
  font-size: 1.1em;
  line-height: 1.5;
  margin: 0 .5em 0 0;
}

.Error-message {
  display: inline-block;
  margin: 0;
}
/*
Copyright 2016 Google Inc. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

.FlexGrid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
  margin:0 0 -1.5em -1.5em;
  padding: 0;
}

.FlexGrid-item {
  -webkit-box-flex:1;
  -webkit-flex:1 0 -webkit-calc(100% - 1.5em);
      -ms-flex:1 0 calc(100% - 1.5em);
          flex:1 0 calc(100% - 1.5em);
  margin:0 0 1.5em 1.5em;
}

.FlexGrid-item--fixed {
  /* An `auto` flex-basis will use the size of the contents. */
  -webkit-box-flex: 0!important;
  -webkit-flex: 0 0 auto!important;
      -ms-flex: 0 0 auto!important;
          flex: 0 0 auto!important;
}


/**
 * --halves modifier.
 * Ensures that an item never takes up more than half of the width, i.e.
 * no more that two items will ever be in a row.
 */
.FlexGrid--halves .FlexGrid-item {
  -webkit-flex-basis: 34%;
      -ms-flex-preferred-size: 34%;
          flex-basis: 34%;
}


@media (min-width: 570px) {
  .FlexGrid-item {
    -webkit-flex-basis:200px;
        -ms-flex-preferred-size:200px;
            flex-basis:200px;
  }
}

@media (min-width: 1024px) {
  .FlexGrid {
    margin:0 0 -2em -2em;
  }
  .FlexGrid-item {
    margin:0 0 2em 2em;
  }
}
/*
Copyright 2015 Google Inc. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/



.FlexLine {
  /* display: flex; */

  /*
   * TODO(philipwalton): replace the below with the above once this FF bug is
   * fixed: https://bugzilla.mozilla.org/show_bug.cgi?id=1146442
   */
   display: -webkit-inline-box;
   display: -webkit-inline-flex;
   display: -ms-inline-flexbox;
   display: inline-flex;
   width: 100%;
}


.FlexLine > [data-flex] {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0%;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
}
/*
Copyright 2015 Google Inc. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

Chartjs {
  font-size: .85em;
}

.Chartjs-figure {
  height: 250px;
}

.Chartjs-legend {
  list-style: none;
  margin: 0;
  padding: 1em 0 0;
  text-align: center;
}

.Chartjs-legend > li {
  display: inline-block;
  padding: .25em .5em
}

.Chartjs-legend > li > i {
  display: inline-block;
  height: 1em;
  margin-right: .5em;
  vertical-align: -.1em;
  width: 1em;
}

@media (min-width: 570px) {
  .Chartjs-figure {
    /* Add some breathing room. */
    margin-right:1.5em;
  }
}