<div class="card widget">
    <div class="card-body card-padding" >
    	<summernote ng-model="note.content" ></summernote>
    	<button ng-click="Delete($event)" class="btn btn-danger">X</button>
    </div>
</div>