<div class="well">
	<div class="btn-group">
		<button class="btn btn-default">tak</button>
		<button class="btn btn-default">nie</button>
		<button class="btn btn-default">nie wiem</button>
	</div>
</div>