<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">
        
		<div class="container">
		    <div class="block-header">
		        <h2>All Reviews</h2>
		    </div>

		    <section>
			  <article ng-repeat="r in reviews.slice().reverse()">
			    <header>
			      <h1>{{r.date | date}} | {{r.coffeeShop.name}}</h1>
			      <h2>{{r.reviewer.email}}</h2>
			    </header>
			    <p>{{r.rating}}&#9733; - {{r.comments}}</p>
			  </article>
			</section>

		</div>

    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>


