<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
			        <div class="card" data-ng-controller="OpenrateController as octrl">
				        <div class="card-header bgm-blue">
				            <h2>Newslettery PTOiTr </h2>
				        </div>

				        <div class="card-body table-responsive">
				            <table class="table">
				                <thead>
				                    <tr>
				                        <th>Tytuł maila</th>
				                        <th>Wysłano</th>
				                        <th>Open Rate</th>
				                        <th>Data wysyłki</th>
				                    </tr>
				                </thead>
				                <tbody>
				                    <tr data-ng-repeat="newsletter in octrl.openrates">
				                        <td>{{newsletter.subject}}</td>
				                        <td>{{newsletter.sent}}</td>
				                        <td>{{ (newsletter.opened / newsletter.sent ) * 100 | number:2 }}%</td>
				                        <td>{{ newsletter.createdAt | date : 'yyyy/MM/dd' }}</td>
				                    </tr>
				                </tbody>
				            </table>
				        </div>
			    	</div>
				</div>
				<div class="col-xs-12 col-sm-4">
			        <div class="card">
				        <div class="card-header bgm-blue">
				            <h2>Najczęściej przeglądane strony Net4Doctor (ostatnie 30 dni)</h2>
				        </div>

				        <div class="card-body card-padding">
				            <div id="most-viewed-n4d-container"></div>
				        </div>
			    	</div>
				</div>
				<div class="col-xs-12 col-sm-4">
			        <div class="card">
				        <div class="card-header bgm-blue">
				            <h2>Najczęściej przeglądane strony PTOiTr (ostatnie 30 dni)</h2>
				        </div>

				        <div class="card-body card-padding">
				            <div id="most-viewed-pages"></div>
				        </div>
			    	</div>
				</div>
			</div>

			<div class="row"  data-ng-controller="GapiController as gctrl">
				<div class="col-xs-12 col-sm-4">
			        <div class="card">
				        <div class="card-header bgm-blue">
				            <h2>PTOiTr</h2>
				        </div>

				        <div class="card-body card-padding">
				            <div class="Chartjs">						      
						      <figure class="Chartjs-figure" id="chart-1-container"></figure>
						      <ol class="Chartjs-legend" id="legend-1-container"></ol>
						    </div>
				        </div>
			    	</div>
				</div>
				<div class="col-xs-12 col-sm-4">
			    	<div class="card">
				        <div class="card-header bgm-blue">
				            <h2>Net4Doctor</h2>
				        </div>

				        <div class="card-body card-padding">
				            <div class="Chartjs">						      
						      <figure class="Chartjs-figure" id="chart-n4d-events"></figure>
						      <ol class="Chartjs-legend" id="legend-n4d-events"></ol>
						    </div>
				        </div>
			    	</div>
				</div>
				<div class="col-xs-12 col-sm-4">
			    	<div class="card">
	    		        <div class="card-header bgm-blue">
	    		            <h2 id="active-users-container"></h2>
	    		        </div>
	    		        <div class="card-body card-padding">
	    		            <h1  id="view-name">Select a View</h1>
	    		            <div id="active-users-container"></div>
	    		            <div id="view-selector-container"></div>
	    		            <div id="embed-api-auth-container"></div>
	    		            <div id="view-selector-container"></div>
	    		        </div>
	    	    	</div>
				</div>
			</div>   
    

			
		</div>


    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
