<div  data-ng-controller="AuthLoginController as lctrl">
	
	<!-- Login -->
	<form name="loginForm" novalidate ng-submit="loginForm.$valid ? login() : ''">
		<div class="lc-block" id="l-login" data-ng-class="{ 'toggled': lctrl.login === 1 }" data-ng-if="lctrl.login === 1">
		    
		    <div class="form-group has-feedback" ng-class="{'has-error': loginForm.email.$invalid && loginForm.$submitted}">
		        <label class="control-label" for="inputEmail" ng-show="loginForm.email.$error.required && loginForm.$submitted">Email required</label>
		        <label class="control-label" for="inputEmail" ng-show="loginForm.email.$error.email && loginForm.$submitted">Wrong email</label>
		        <div class="fg-line">
		            <input name="email" type="email" required class="form-control" id="inputEmail" placeholder="Email" ng-model="user.email">
		        </div>
		        <span class="zmdi zmdi-close form-control-feedback" ng-show="loginForm.email.$invalid && loginForm.$submitted"></span>
		    </div>

		    <div class="form-group has-feedback" ng-class="{'has-error': loginForm.password.$invalid && loginForm.$submitted}">
		        <label class="control-label" for="inputPassword" ng-show="loginForm.password.$error.required && loginForm.$submitted">Password required</label>
		        <div class="fg-line">
		            <input name="password" type="password" required class="form-control" id="inputPassword" placeholder="Password" ng-model="user.password">
		        </div>
		        <span class="zmdi zmdi-close form-control-feedback" ng-show="loginForm.password.$invalid && loginForm.$submitted"></span>
		    </div>

		    <a href="http://localhost:3000/auth/facebook">fb</a>

		    <button class="btn btn-login btn-danger btn-float">
		    	<i class="zmdi zmdi-arrow-forward"></i>
	    	</button>

		</div>
	</form>

</div>