<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">

        <div class="container">
        
            <!-- Todo Lists -->
            <div id="todo-lists" data-ng-controller="TodoController as tctrl">
                <div class="tl-header">
                    <h2>Todo Lists</h2>
                    <small>Add, edit and manage your Todo Lists</small>

                    <ul class="actions actions-alt">
                        <li class="dropdown" uib-dropdown>
                            <a href="" uib-dropdown-toggle>
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Refresh</a>
                                </li>
                                <li>
                                    <a href="">Manage Widgets</a>
                                </li>
                                <li>
                                    <a href="">Widgets Settings</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="clearfix"></div>

                <div class="tl-body">
                    <div id="add-tl-item" data-ng-class="{ 'toggled': tctrl.addTodoStat }" data-ng-click="tctrl.addTodoStat = true">
                        <i class="add-new-item zmdi zmdi-plus" ></i>

                        <div class="add-tl-body">
                            <div class="form-group" ng-class="{'has-error': todoForm.content.$invalid && todoForm.content.$dirty}">
                                <form name="todoForm" novalidate ng-submit="tctrl.addTodo()">
                                    <textarea name="content" placeholder="What you want to do..." data-ng-model="newTodo.content" required></textarea>
                                    <span class="has-error control-label" ng-show="
                                        todoForm.content.$invalid && todoForm.content.$dirty">
                                      Content is required.
                                    </span>

                                    <div class="add-tl-actions">
                                        <a class="zmdi zmdi-close" data-tl-action="dismiss" data-ng-click="tctrl.addTodoStat = false; $event.stopPropagation()"></a>
                                        <a class="zmdi zmdi-check" ng-class='{hidden:todoForm.$invalid}' data-tl-action="save" data-ng-click="tctrl.addTodoStat = false; tctrl.addTodo(); $event.stopPropagation()"></a>
                                    </div>
                                </form>     
                            </div>
                        </div>
                    </div>

                    <div class="checkbox media" data-ng-repeat="todo in tctrl.todos">
                        <div class="pull-right">
                            <ul class="actions actions-alt">
                                <li class="dropdown" uib-dropdown>
                                    <a href="" uib-dropdown-toggle>
                                        <i class="zmdi zmdi-more-vert"></i>
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li ng-click="tctrl.removeTodo(todo)"><a href="">Delete</a></li>
                                        <li><a href="">Archive</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="media-body">
                            <label>
                                <input type="checkbox">
                                <i class="input-helper"></i>
                                <span>{{ todo.content }}</span>
                            </label>
                        </div>
                    </div>

                </div>
            </div>
          <!-- Todo Lists -->


            
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>